@font-face {
  font-family: 'Roboto';
  src: url(Fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --f-family:'Roboto', sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --gray-1: #F1F1F1;
  --gray-2: #E5E5E5;
  --gray-3: #333;
}

.calc__btn{
  width: 40px;
  height: 40px;
  background: var(--gray-1);
  border: 1px solid var(--color-black);
  box-shadow: 2px 2px 2px rgba(var(--color-black), 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 16px;
}

.calc__btn:active{
  filter: brightness(90%);
}

.calc{
  width: 420px;
  height: 385px;
  background: var(--color-white);
  font-family: var(--f-family);
  padding: 18px;
  margin: 50px auto;
  border: var(--color-black) 1px solid;
}

.calc__screen{
  height: 60px;
  width: 370px;
  display: grid;
  justify-items:end;
  align-items: center;
  margin: 25px 25px 15px 25px;
  border: var(--gray-3) 1px solid;
  background: var(--gray-2);
}

.calc__input{
  height: auto;
  background: var(--gray-2);
  margin: auto 15px;
  font-size: 28px;
  line-height: 33px;
}

.calc__wrapper{
  display: grid;
  width: 370px;
  grid-template-columns: repeat(7, minmax(40px, 1fr) );
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px; 
  margin: 0 25px 25px 25px ;
}

.calc__btn_clear {
  grid-column: 4/4;
}

.calc__btn_position{
  grid-column: 3/3;
}

.equal-position {
  grid-column: 7;
  grid-row: 4/6;
  height: auto;
}

.calc__btn_rvt{
  border: none;
  box-shadow: none;
  background: var(--gray-2);
}

.rvt_action{
  border: 1px solid var(--color-black);
  box-shadow: 2px 2px 2px rgba(var(--color-black), 0.25);
  background: var(--gray-1);
}


